.home{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 100px;
}

.buttons{
    margin-top: 100px;
    font-family: 'Poiret One', cursive;
    height: 150px;
    width: 100%;
}

