.hashtag{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 50px;

}
.inputcon{
    margin-top: 50px;
    height: 25px;
    width: 100%;
}

.input{
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    height: 100%;
    width: 60%;
}
